body{
    background-color: black;
    color: antiquewhite;
}
/* #title{
    background-image: url("https://i.pinimg.com/736x/19/ab/2a/19ab2a5b6ebbf125024e8a70696b6f02.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
} */
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 5%;
    font-size: 7vw;
}

input{
    background-color: black;
    color: antiquewhite;
    margin-right: 2%;
}

select{
    background-color: antiquewhite;
    color:black;
}

#gallery-options{
    margin: 5%;
}

#gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}